<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:text="#{customers.title}">Customers</title>
    <link rel="stylesheet" th:href="@{../static/css/sortable-tabular-data.css}"
          href="/static/css/sortable-tabular-data.css">
</head>
<body>
<div id="wrapper">

<h1 th:text="#{customers.title}">Customers</h1>

<div> <b> <span th:text="#{controls.pages} + ':'"> Pages: </span></b>
    <th:block th:each="page : ${#numbers.sequence(0, customersPage.getTotalPages()-1)}">
        <button th:text="${page + 1}"
                th:style="${page.equals(customersPage.number) ? 'font-weight:bold; background-color: #DDEEEE;' : 'font-weight: normal;'}"
                th:href="@{''(page=${page},size=${customersPage.size},sort='name,asc')}"
                onclick="location.href=this.getAttribute('href')">1</button>
        <!-- @{''} is the reference to the current page -->
    </th:block>
</div><p>
<div>
    Page <th:block th:text="${customersPage.number}"/> of <th:block th:text="${customersPage.totalPages}"/>
    size <th:block th:text="${customersPage.size}"/>
</div>
<p>


<table id="sortable-table" cellspacing="0" cellpadding="0">
    <thead> <tr>
        <th th:text="#{customer.name}">Name</th>
        <th th:text="#{customer.phone}">Phone</th>
        <th th:text="#{customer.rating}">Rating</th>
        <th th:text="#{customer.notes}">Notes</th>
        <th>...</th>
    </tr> </thead>
    <tr th:each="customer : ${customersPage}">
        <td class="lalign" th:text="${customer.name}">Name</td>
        <td th:text="${customer.phone}">Phone</td>
        <td th:text="${customer.rating}">Rating</td>
        <td>
            <th:block th:if="${customer.addresses.size() > 0}">
                <span th:text="#{customers.has_address}">Has address</span> </th:block>
            <th:block th:unless="${customer.addresses.size() > 0}">
                <span th:text="#{customers.no_address}">No address</span> </th:block>
        </td>
        <td> <a th:href="@{/web/customers/{id}(id=${customer.id})}" th:text="#{customers.action.details}">View</a> </td>
    </tr>
    <tr th:remove="all">
        <td class="lalign">Proto Name</td>
        <td>Proto Phone</td>
        <td>Proto Rating</td>
        <td>Has/no address</td>
        <td> <a href="/web/customers/0">View</a> </td>
    </tr>

</table>


<p>

<form th:action="@{/web/customers}" method="post" enctype="multipart/form-data">
    <div class="form-field">
        <label for="input_name" th:text="#{customer.name}">Name:</label>
        <input name="name" id="input_name"/>
    </div>
    <div class="form-field">
        <label for="input_phone" th:text="#{customer.phone}">Phone:</label>
        <input name="phone" id="input_phone" />
    </div>
    <div class="form-field">
        <label for="input_rating" th:text="#{customer.rating}">Rating:</label>
        <input name="rating" id="input_rating"/>
    </div>
    <div class="form-field">
        <label for="input_address" th:text="#{customer.addresses}">Address:</label>
        <input name="addressLine" id="input_address"/>
    </div>
    <div class="form-field">
        <input type="submit" th:value="#{customers.action.add}" value="Add customer" name="addCustomer"/>
    </div>
</form>

<p>
    <form th:action="@{/web/logout}" method="post">
        <input type="submit" th:value="#{login.signout}" value="Sign Out"/>
    </form>


</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.14/js/jquery.tablesorter.min.js'></script>
<script th:src="@{/static/js/sortable-tabular-data.js}" src="../static/js/sortable-tabular-data.js"> </script>

</body>
</html>