<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Customer</title>
</head>
<body>
<h3>Customer </h3>
<div th:object="${customer}">
    <label th:text="#{customer.name}+':'">name proto text</label>
    <span th:text="*{name}">Some Name</span><br/>
    <label th:text="#{customer.phone}+':'">phone</label>
    <span th:text="*{phone}">phone</span><br/>
    <label th:text="#{customer.rating}+':'">rating</label>
    <span th:text="*{rating}">rating</span><br/>
    <p th:text="#{customer.addresses}+':'">addresses:</p>
    <ul>
        <li th:each="address : *{addresses}">
            <span th:text="${address.address}">Some prototype address</span>
        </li>
        <li th:remove="all"> <label>Second prototype address</label> </li>
    </ul>
    <form th:action="@{/web/customers/{id}/addresses(id=*{id})}" method="post" enctype="multipart/form-data" >
        <input type="text" name="addressLine"/>
        <input type="submit" th:value="#{customer.address.new}"/>
    </form>
</div>

<p>
<form th:action="@{/web/logout}" method="post">
    <input type="submit" th:value="#{login.signout}" value="Sign Out"/>
</form>

</body>
</html>