<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{login.caption}">Login</title>
</head>
<body>
<div th:if="${param.error}">
    <th:block th:text="#{login.message.invalidUserOrPassword}">Invalid username or password.</th:block>
</div>
<div th:if="${param.logout}">
    <th:block th:text="#{login.message.logout}">You have been logged out.</th:block>

</div>
<form th:action="@{/web/login}" method="post">
    <div><label> <th:block th:text="#{login.label.userName}">User name:</th:block> <input type="text" name="username"/> </label></div>
    <div><label> <th:block th:text="#{login.label.password}">Password:</th:block> <input type="password" name="password"/> </label></div>
    <div><input type="submit" th:value="#{login.submit}" value="Sign In"/></div>
</form>
</body>
</html>